.wrapper {
    display: flex;
    justify-content: space-between;

    .footer_page {
        h4 {
            font-family: "Poppins";
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            color: #fff;
        }

        ul {
            color: #fff;
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 400;
            line-height: 35px;
        }
    }

    .footer_item {
        h4 {
            font-family: "Poppins";
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            color: #fff;
            max-width: 280px;
        }

        .footer_box {
            max-width: 325px;
            height: 50px;
            background-color: #fff;
            border-radius: 5px;
            margin: 20px 0px;
        }

        .footer_btn {
            padding: 8px 15px;
            color: #fff;
            background-color: rgba(2, 137, 122, 1);
            font-family: Poppins;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;

        }
    }
}

footer {
    background: rgba(31, 46, 53, 1);
    padding: 50px 0px;

    p {
        text-align: center;
        padding-top: 30px;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: #fff;
    }
}

.footer_text {
    display: flex;
    gap: 15px;

    h2 {
        color: white;
        font-size: 36px;
        font-family: "Poppins";
    }
}

.iconka {
    img {
        padding-right: 13px;
        padding-top: 20px;
    }
}

@media (max-width: 900px) {
    .footer_page {
        h4 {
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            color: #fff;
        }

        ul {
            color: #fff;
            font-family: "Poppins";
            font-size: 12px;
            font-weight: 300;
            line-height: 28px;
        }
    }

    .footer_item {
        h4 {
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            color: #fff;
            max-width: 240px;
        }

        .footer_box {
            max-width: 155px;
            height: 30px;
            background-color: #fff;
            border-radius: 5px;
            margin: 15px 0px;
        }

        .footer_btn {
            padding: 5px 10px;
            color: #fff;
            background-color: rgba(2, 137, 122, 1);
            font-family: "Poppins";
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            border-radius: 8px;
        }
    
 }
 footer {
    background: rgba(31, 46, 53, 1);
    padding: 50px 0px;

    p {
        text-align: center;
        padding-top: 14px;
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 300;
        line-height: 24px;
        color: #fff;
    }
 }

 .footer_text {
    display: flex;
    gap: 10px;

    h2 {
        color: white;
        font-size: 30px;
        font-family: "Poppins";
    }
 }

 .iconka {
    img {
        padding-right: 13px;
        padding-top: 20px;
    }
 }
}
@media (max-width: 780px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
        .footer_box {
            width: 700px;
            height: 50px;
            background-color: #fff;
            border-radius: 5px;
        }
    }
}