@import url(./navbar/navbar.css);
.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price h3 {
  font-size: 72px;
  font-weight: 600;
  line-height: 100px;
  letter-spacing: 0.20000000298023224px;
  color: #02897a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.price .price_box {
  margin: auto 5px;
}

.price .price_box p {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.10000000149011612px;
  color: #02897a;
  text-align: left;
}

.price .price_box span {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.10000000149011612px;
  color: #afafaf;
  font-family: "Poppins";
}

.price_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price_2 h3 {
  font-size: 72px;
  font-weight: 600;
  line-height: 100px;
  letter-spacing: 0.20000000298023224px;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.price_2 .price_box_2 {
  margin: auto 5px;
}

.price_2 .price_box_2 p {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.10000000149011612px;
  color: #fff;
  text-align: left;
  font-family: "Poppins";
}

.price_2 .price_box_2 span {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.10000000149011612px;
  color: #afafaf;
}

.price_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price_3 h3 {
  font-size: 72px;
  font-weight: 600;
  line-height: 100px;
  letter-spacing: 0.20000000298023224px;
  color: #02897a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.price_3 .price_box_3 {
  margin: auto 5px;
}

.price_3 .price_box_3 p {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.10000000149011612px;
  color: #02897a;
  text-align: left;
  font-family: "Poppins";
}

.price_3 .price_box_3 span {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.10000000149011612px;
  color: #afafaf;
}

header {
  background-color: #1f2e35;
  max-width: 100%;
  height: 100%;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.box h4 {
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  color: #fff;
  padding: 32px 0px;
}

.box h2 {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  color: #fff;
}

.box p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  color: #fff;
}

.header_box {
  max-width: 100%;
  height: 100%;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}

.header_box .header_box_page {
  margin-top: 50px;
  width: 280px;
  height: 100%;
  background: #fff;
  text-align: center;
  border-radius: 8px;
}

.header_box .header_box_page h4 {
  padding-top: 20px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343d;
}

.header_box .header_box_page p {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  color: #22343d;
}

.header_box .header_box_page_2 {
  margin-top: 50px;
  width: 280px;
  height: 100%;
  background: #02897a;
  text-align: center;
  border-radius: 8px;
  color: #fff;
}

.header_box .header_box_page_2 h4 {
  padding-top: 20px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
}

.header_box .header_box_page_2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  color: white;
}

.header_box .header_box_page_3 {
  margin-top: 50px;
  width: 280px;
  height: 100%;
  background: #fff;
  text-align: center;
  border-radius: 8px;
}

.header_box h4 {
  padding-top: 20px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343d;
}

.header_box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  color: #22343d;
}

.header_box button {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding: 11px 19px;
  background: #02897a;
  color: white;
  border-radius: 8px;
  border: none;
  margin-bottom: 50px;
  margin-top: 30px;
}

.header_box .btn_2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding: 11px 19px;
  color: #02897a;
  background-color: white;
  border-radius: 8px;
  border: none;
  margin-bottom: 50px;
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .header_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
  }
}

@media (max-width: 700px) {
  .box h4 {
    font-family: "Poppins";
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
    padding: 22px 0px;
  }
  .box h2 {
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #fff;
  }
  .box p {
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
  }
}

@media (max-width: 450px) {
  .box h4 {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    padding: 15px 0px;
  }
  .box h2 {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #fff;
  }
  .box p {
    font-family: "Poppins";
    font-size: 10px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
  }
}
/*# sourceMappingURL=header.css.map */