nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    align-items: center;
    background-color: rgba(31, 46, 53, 1);

    .nav_box {
        display: flex;
        gap: 20px;
        align-items: center;
        h1 {
            font-size: 30px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0px;
            text-align: left;
            color: rgba(255, 255, 255, 1);
        }

        img {
            margin-bottom: px;
        }
    }

    .nav_box_text {
        display: flex;
        gap: 30px;

        ul {
            display: flex;
            gap: 30px;
            align-items: center;

            a {
                font-size: 16px;
                font-weight: 600;
                line-height: 28px;
                text-align: left;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                text-align: left;
                color: rgba(255, 255, 255, 1);
            }
        }

        .sign_in_btn {
            padding: 10px 30px;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            color: rgba(255, 255, 255, 1);
            background: rgba(31, 46, 53, 1);
            border: 1px solid white;
            border-radius: 5px;
        }

        .sign_up_btn {
            padding: 10px 30px;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;
            color: rgba(255, 255, 255, 1);
            background: rgba(2, 137, 122, 1);
            border: 1px solid white;
            border-radius: 5px;
        }

        .nav_img {
            margin: auto auto;
        }
    }
}

@media (max-width: 1000px) {
    nav {
        .nav_box_text {
            ul {

                display: none;
            }
            .sign_in_btn {
                padding: 5px 15px;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                text-align: left;
            }
            .sign_up_btn {
                padding: 5px 15px;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                text-align: left;
            }
        }

    }
}
@media (max-width: 575px) {
    nav {
        .nav_box_text {
            .sign_in_btn{
                display: none;
            }
            .sign_up_btn{
                display: none;
            }
            .nav_img {
                display: none;
            }
        }
    }
}